<% layout("../layout") %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/fontawesome.min.css"
        integrity="sha512-shT5e46zNSD6lt4dlJHb+7LoUko9QZXTGlmWWx0qjI9UhQrElRb+Q5DM7SVte9G9ZNmovz2qIaV7IWv0xQkBkw=="
        crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
        integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.11.3/cloudinary-core.min.js"
        integrity="sha512-JlOhEgkriqAqb9bcQ3ILIQZFjpr7kJHKU9vudBHBulgfc1IgtUtMCK5dX3OyWRFpa1hkz8M4EiuY0ut5vMgAVg=="
        crossorigin="anonymous"></script>

        <header
        style="display: flex; height: 50px; padding-left: 2vw; padding-right: 7vw; padding-top: 10px; border-radius: 20px;">
        <% if (user) { %>
            <div style="flex: 1;">
                <a href="/setting">
                    <ion-icon name="chevron-back-outline" style="color: gray; float: left;" class="text-3xl"></ion-icon>
                </a>
            </div>
            <% }else{ %>
                <div style="flex: 2;">
                    <a href="/users/login">
                        <ion-icon name="person-outline" style="color: gray; float: left;" class="text-3xl"></ion-icon>
                    </a>
                </div>
                <% } %>
                    <div style="flex: 15;">
                        <h2 class="text-2xl font-semibold" style="margin-top: 0px;"> Bağlantılar<a> </h2>
                    </div>
                    <div style="flex: 2;">
                        <h2 class="text-2xl font-semibold" style="margin-top: 0px; color: steelblue;"
                            onclick="social()"> Kaydet<a> </h2>
                    </div>
    </header>
    <div class="main_content">
        <div class="mcontainer">
            <h2 class="text-2xl font-semibold text-center" style="margin-top: 20px;"> Bağlantılar</h2>
            <span class="badge">
                <label style="padding-left: 20px; padding-top: 10px;"> <i class="fa fa-linkedin fa-2x"></i> </label>
                <input id="linkedin" type="text" class="uk-input" placeholder="@ornek">
            </span>
            <hr>
            <span class="badge">
                <label style="padding-left: 20px; padding-top: 10px;"> <i class="fa fa-twitter fa-2x"></i> </label>
                <input id="twitter" type="text" class="uk-input" placeholder="@ornek">
            </span>
            <hr>
            <span class="badge">
                <label style="padding-left: 20px; padding-top: 10px;"> <i class="fa fa-facebook fa-2x"></i> </label>
                <input id="facebook" type="text" class="uk-input" placeholder="@ornek">
            </span>
            <hr>
            <!-- <hr style="margin-top: 22px; border: 2px solid darkgray;"> -->

        </div>
    </div>
    <footer>
        <% if (user) { %>
            <div style="flex: 2; align-items: center; justify-content: center;">
                <a href="/profil"><img src="<%= user.photo %>" style="height: 33px; top: 0px; bottom: 0px; left: 0px; right: 0px; margin:auto; border-radius: 20px;">            </a>
            </div>
        <% }else{ %>
            <div style="flex: 2; align-items: center; justify-content: center;">
                <a href="/users/login"><ion-icon name="person-outline" style="color: gray;" class="text-3xl"></ion-icon></a>
            </div>
        <% } %> 
        <div style="flex: 2; align-items: center; justify-content: center;">
            <a href="/medya"><ion-icon name="camera-outline" style="color: gray;" class="text-4xl"></ion-icon></a>
        </div>
        <% if (user) { %>
            <% if (user.type == 1 && title == 1) { %>
                <div style="flex: 2; align-items: center; justify-content: center;" uk-toggle="target: #create-post-modal">
                    <img src="../../../paylas.png" style="height: 40px; top: 0px; bottom: 0px; left: 0px; right: 0px; margin:auto; margin-bottom: 4px;">
                </div>
            <% }else{ %>
                <div style="flex: 2; align-items: center; justify-content: center;" uk-toggle="target: #create-post-modal">
                    <img src="../../../paylas.png" style="height: 40px; top: 0px; bottom: 0px; left: 0px; right: 0px; margin:auto; margin-bottom: 4px;">
                </div>
            <% } %> 
        <% }else{ %>
    
        <% } %> 
        <div style="flex: 2; align-items: center; justify-content: center;">
            <a href="/bildirim"><ion-icon name="notifications-outline" style="color: gray;" class="text-4xl"></ion-icon></a>
        </div>
        <div style="flex: 2; align-items: center; justify-content: center;">
            <a href="/mesaj"><ion-icon name="chatbubble-outline" style="color: gray;" class="text-4xl"></ion-icon></a>
        </div>
    </footer>
    <script>
        function social() {
            axios.post("/baglanti",{
                linkedin:document.getElementById("linkedin").value,
                twitter:document.getElementById("twitter").value,
                facebook:document.getElementById("facebook").value,
            }).then(response=>{
                if (response.data.status == true) {
                    swal("Başarılı","Bağlantılar başarıyla güncellendi.","success")
                } else {
                    swal("Başarısız","Bağlantı eklemede bir hata oluştu. Lütfen daha sonra tekrar deneyiniz.","danger")
                }
            })
        }
    </script>