<!DOCTYPE html>
<html lang="en" class="bg-gray-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="../../../front/images/favicon.png" rel="icon" type="image/png">

    <!-- Basic Page Needs
        ================================================== -->
    <title>PANİPAL - GİRİŞ YAP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Panipal giriş yap">

    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="../../../front/scss/icons.css">

    <!-- CSS 
    ================================================== -->
    <link rel="stylesheet" href="../../../front/css/uikit.css">
    <link rel="stylesheet" href="../../../front/css/style.css">
    <link rel="stylesheet" href="../../../front/css/icons.css">
    <link rel="stylesheet" href="../../../front/css/tailwind.css">


    <style>
        input,
        .bootstrap-select.btn-group button {
            background-color: #f3f4f6 !important;
            height: 44px !important;
            box-shadow: none !important;
        }
    </style>
</head>

<body>

    <body class="bg-gray-100">


        <div id="wrapper" class="flex flex-col justify-between h-screen">

            <!-- header-->
            <div class="bg-white py-4 shadow dark:bg-gray-800">
                <div class="max-w-6xl mx-auto">


                    <div class="flex items-center lg:justify-between justify-around">

                        <a href="/">
                            <img src="../../../newpan.png" alt="" class="w-32">
                        </a>


                    </div>
                </div>
            </div>

            <!-- Content-->
            <div>
                <div class="lg:p-12 max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">
                    <form class="lg:p-10 p-6 space-y-3 relative bg-white shadow-xl rounded-md" action="/users/login" method="POST">
                        <h1 class="lg:text-2xl text-xl font-semibold mb-6"> Giriş Yap </h1>
                        <div>
                            <label class="mb-0"> Mail Adresiniz </label>
                            <input type="email" name="username" placeholder="info@ornek.com" class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full">
                        </div>
                        <div>
                            <label class="mb-0"> Şifre </label>
                            <input type="password" name="password" placeholder="******" class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full">
                        </div>

                        <div>
                            <button type="submit" class="bg-blue-600 font-semibold p-2 mt-5 rounded-md text-center text-white w-full">
                                Giriş Yap</button>
                        </div>
                        <br>
                        <div>
                            <a href="/users/register" class="text-center"><b>Üyeliğiniz yoksa hemen kayıt olun !</b></a>
                        </div> 
                    </form>


                </div>
            </div>

            <!-- Footer -->

            <div class="lg:mb-5 py-3 uk-link-reset">
                <div class="flex flex-col items-center justify-between lg:flex-row max-w-6xl mx-auto lg:space-y-0 space-y-3">

                    <p class="capitalize"> © copyright 2020 by Panipal</p>
                </div>
            </div>

        </div>


        <!-- Javascript
    ================================================== -->
        <script src="../../../front/js/jquery-3.3.1.min.js"></script>
        <script src="../../../front/js/uikit.js"></script>
        <script src="../../../front/js/simplebar.js"></script>
        <script src="../../../front/js/custom.js"></script>
        <script src="../../../front/js/bootstrap-select.min.js"></script>
        <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

    </body>

</html>