<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="colorlib.com">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Panipal Kayıt</title>
    <link rel="stylesheet" href="../../../login/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="../../../login/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.4.0/croppie.css">
    <script>
        var locales = Metro.utils.getLocales();
        console.log(locales);
    </script>
    <style>
        #page {
            background: #FFF;
        }

        #demo-basic {
            width: 200px;
            height: 200px;
        }
    </style>
</head>

<body>

    <div class="main">

        <div class="container">
            <h2>Kayıt Ol</h2>
            <form method="POST" id="signup-form" action="/users/register" class="signup-form"
                enctype="multipart/form-data">
                <h3>
                    Giriş Bilgileri
                </h3>
                <fieldset>
                    <div class="form-row">
                        <div class="form-file">
                            <input type="file" class="inputfile" name="your_picture" id="your_picture"  onchange="readURL(this);" data-multiple-caption="{count} files selected" multiple />
                            <label for="your_picture">
                                <figure>
                                    <img src="../../../login/images/your-picture.png" alt="" class="your_picture_image">
                                </figure>
                                <span class="file-button">Fotoğraf Yükle</span>
                            </label>
                        </div>
                        <div class="form-group-flex">
                            <div class="form-group">
                                <input type="text" name="name" id="first_name" placeholder="Adınız" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="surname" id="last_name" placeholder="Soyadınız" />
                            </div>
                            
                            <div class="uk-form-group">
                                <div class="uk-position-relative">
                                    <select name="cinsiyet" class="selectpicker uk-input bg-secondary">
                                        <option>Erkek</option>
                                        <option>Kadın</option>
                                        <option>Belirtmek istemiyorum</option>
                                    </select>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </fieldset>
                <h3>
                    Onay
                </h3>
                <fieldset>
                    <div class="form-group">
                        <input type="email" name="username" id="email" placeholder="Mail Adresiniz" />
                    </div>
                    <div class="form-group">
                        <input type="email" name="password" id="password" placeholder="Şifreniz" />
                    </div>
                    
                </fieldset>
            </form>
        </div>

    </div>

    <!-- JS -->
    <script src="../../../login/vendor/jquery/jquery.min.js"></script>
    <script src="../../../login/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="../../../login/vendor/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="../../../login/vendor/jquery-steps/jquery.steps.min.js"></script>
    <script src="../../../login/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
</body>

</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.4.0/croppie.js"></script>

<script>
    $(function () {
        var basic = $('#demo-basic').croppie({
            viewport: {
                width: 200,
                height: 200
            }
        });
        basic.croppie('bind', {
            url: 'https://i.imgur.com/xD9rzSt.jpg',
            points: [77, 469, 280, 739]
        });
        resize.result('blob').then(function(blob) {
            alert(blob)
        });
    });

</script>