<!DOCTYPE HTML>

<html lang="en-US">

<head>

	<meta charset="UTF-8">

	<title>UstaDerslik</title>

	<style type="text/css">

		input{outline:none;border:1px solid #ddd;}

	</style>

</head>

<body>

	

<input type="text" list="liste-1" />
<datalist id="liste-1">
	<option>Opera</option>
	<option>Firefox</option>
	<option>Google Chrome</option>
	<option>Safari</option>
</datalist>

	

</body>

</html>