<% layout("layout") %>
<%- include ./part/header2.ejs %> 

    <div class="main_content">
        <div class="mcontainer">
            <h2 class="text-2xl font-semibold text-center" style="margin-top: 20px;"> Profil Düzenle</h2>
            <span class="badge">
                <table>
                    <tr>
                        <td>
                            <img src="../../../front/images/avatars/avatar-2.jpg" style="width: 100px; height: 100px;"
                                class="rounded-full">
                        </td>
                        <td>
                            <button class="btn btn-primary" style="border: 1px solid black; padding:5px; border-radius: 20px; margin-left: 40vw;">PROFİLİ DÜZENLE</button>
                        </td>
                    </tr>
                </table>
                <br>
            </span>
            <hr>
            <span class="badge">
                <label style="padding-left: 20px; padding-top: 10px;">Hakkınızda</label>
                <textarea rows="6" class="uk-input" placeholder="Hakkınızda bilgi giriniz"
                    style="resize: none;"></textarea>
            </span>
            <hr>

            <!-- <hr style="margin-top: 22px; border: 2px solid darkgray;"> -->

        </div>
    </div>